@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.container.add-product {
    max-width: 1000px;
}

.container.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container.products-list>* {
    flex-basis: 45%
}

.container.products-list .options {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.container.products-list .options>* {
    flex-basis: 45%;
}

.container.products-list .card-image {
    max-height: 300px;
    max-width: 350px;

}

.container.products-list .card-image img {
    max-width: 100%;
    max-height: 100%;
}

.dark-hover:hover {
    background-color: #4275d3 !important;
}

.active {
    color: red;
}

@media screen and (min-width: 768px) {
    .container.products-list>* {
        flex-basis: 31%;
    }
}

@media screen and (min-width: 1200px) {
    .container.products-list>* {
        flex-basis: 24%;
    }
}